/* Universal Styles */

@font-face {
  font-family: 'Cabin';
  src: url(../fonts/Cabin-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Raleway';
  src: url(../fonts/Raleway-Regular.ttf) format('truetype'), url(../fonts/Raleway-Bold.ttf) format('truetype');
}

html {
  font-size: 16px;
  font-family: "Raleway", Helvetica, sans-serif;
  color: dimgrey;
}

.banner, #guest1, .courses, .thesis-container:first-child {
  background-color: gainsboro;
}

.logo span, h3 {
  font-size: 2rem;
}

h2 {
  font-weight: bold;
}

h1, h2, h3 {
  color: black;
}

img, video {
  max-width: 100%;
  height: auto;
}

/* header styles */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  padding-left: 1.5rem;
  height: 4rem;
}

.logo span:nth-child(2n+0) {
  font-weight: bold;
  color: black;
}

nav li {
  display: inline-block;
  padding-right: 1rem;
  font-size: 1.375rem;
  font-family: "Cabin", Helvetica, sans-serif;
}

nav li:last-child {
  padding-right: 1.5rem;
}

/* banner Styles */

.banner {
  display: flex;
  align-items: center;
  padding: 2rem 0 2rem 1.5rem;
}

.banner-image {
  width: 58.5%;
}

.banner-text {
  display: flex;
  flex-direction: column;
  max-width: 40%;
  padding-left: 3rem;
}

.banner-text h1, h3, span {
  max-width: 26rem;
}

.banner-text h1 {
  font-size: 3rem;
  font-weight: bold;
  margin: 2rem 0;
}

.banner-text h3 {
  margin: 2rem 0;
}

.button {
  text-align: center;
  color: white;
  background-color: black;
  padding: .5rem;
  font-size: 1.5rem;
}

/* Info styles */

.information {
  display: flex;
  padding: 0 0 2rem 1.5rem;
}

.info-headline {
  width: 58.5%;
  padding: 2rem 1.5rem 0 0;
  font-size: 1.25rem;
}

.info-headline h2 {
  padding: 2rem 0 1.5rem 0;
  font-size: 3rem;
}

.info-headline span {
  display: inline-block;
  padding-top: 3rem;
}

.info-content {
  padding-top: 1rem;
  max-width: 40%;
  border-left: 1px ridge gainsboro;
}

.info-container {
  display: flex;
  align-items: center;
  border-bottom: 1px ridge gainsboro;
}

.info-image {
  width: 35%;
  height: auto;
  padding: 1rem;
}

.info-text {
  display: flex;
  flex-direction: column;
  width: 65%;
}

.info-text span {
  font-size: 1.25rem;
  margin-top: 1.25rem;
}

.info-text span:last-child {
  color: blue;
}

/* Course styles */

.courses {
  padding: 2rem 4.5rem;
}

.courses h2 {
  font-size: 3rem;
  text-align: center;
  padding-bottom: 2rem;
}

.courses-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.course-container {
  margin: 2rem 1rem;
  width: 25%;
  flex-grow: 1;
  background-color: white;
}

.course-text {
  font-size: 1.25rem;
  padding: 1rem 1rem 1.5rem 1rem;
}

.course-text span {
  display: inline-block;
  padding-top: 1rem;
  line-height: 1.5rem;
}

/* Thesis styles */

.thesis {
  padding: 2rem 0 2rem 1.5rem;
}

.thesis-group {
  display: flex;
}

.thesis-headline {
  width: 58.5%;
  padding: 0 1.5rem 0 0;
  font-size: 1.25rem;
}

.thesis h2 {
  font-size: 3rem;
  text-align: center;
  padding-bottom: 2rem;
}

.thesis h3 {
  padding: 1.5rem 0 1rem 0;
}

.thesis-content {
  max-width: 40%;
}

.thesis-container {
  display: flex;
  align-items: center;
}

.thesis-image {
  width: 35%;
  height: auto;
  padding: 1rem;
}

.thesis-text {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 1rem;
  width: 65%;
}

/* Footer styles */

.footer {
  display: flex;
  border: 1px solid blue;
  padding: 1rem 1.5rem;
}

.copyright {
  padding: 1rem 1.5rem;
  display: inline-block;
}

.legal {
  padding: 1rem 1.5rem;
  float: right;
  display: inline-block;
}

.legal span {
  padding: 0 .25rem;
}

@media only screen and (max-width: 1275px) {
  html {
    font-size: 14px;
  }

  .info-headline h2 {
    font-size: 2.5rem;
  }

  .thesis-text h3 {
    font-size: 1.875rem;
  }

  .thesis-text span {
    font-size: 1.125rem;
  }
}

@media only screen and (max-width: 980px) {
  html {
    font-size: 12px;
  }

  .thesis-text h3 {
    font-size: 1.75rem;
  }

  .thesis-text span {
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 850px) {
  .info-headline h2 {
    font-size: 2rem;
  }

  .info-text h3 {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 750px) {

}
