/* Universal Styles */

@font-face {
  font-family: 'Cabin';
  src: url(../fonts/Cabin-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Raleway';
  src: url(../fonts/Raleway-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Raleway-Bold';
  src: url(../fonts/Raleway-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Raleway-Extrabold';
  src: url(../fonts/Raleway-ExtraBold.ttf) format('truetype');
}

html {
  font-size: 16px;
  font-family: "Raleway", Helvetica, sans-serif;
  color: dimgrey;
}

.banner, #guest1, .courses, .thesis-container:first-child {
  background-color: gainsboro;
}

.logo span, h3 {
  font-size: 2rem;
}

h2 {
  font-weight: bold;
}

h1, h2, h3 {
  color: black;
}

img, video {
  max-width: 100%;
  height: auto;
}

/* header styles */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  padding-left: 1.5rem;
  height: 4rem;
}

.logo span:nth-child(2n+0) {
  font-family: "Raleway-Bold", Helvetica, sans-serif;
  color: black;
}

.navigation li {
  display: inline-block;
  padding-right: 1rem;
  font-size: 1.375rem;
  font-family: "Cabin", Helvetica, sans-serif;
}

.navigation li:last-child {
  padding-right: 1.5rem;
}

.navigation li:hover {
  color: maroon;
}

.navigation li:active {
  color: black;
}

.mobile {
  display: none;
}

/* banner Styles */

.banner {
  display: flex;
  align-items: center;
  padding: 2rem 0 2rem 1.5rem;
}

.banner-image {
  width: 58.5%;
}

.banner-text {
  display: flex;
  flex-direction: column;
  max-width: 40%;
  padding-left: 3rem;
}

.banner-text h1, h3, span {
  max-width: 26rem;
}

.banner-text h1 {
  font-size: 3rem;
  font-family: "Raleway-Extrabold", Helvetica, sans-serif;
  margin: 2rem 0;
}

.banner-text h3 {
  margin: 2rem 0;
  font-weight: bold;
}

.button {
  text-align: center;
  color: white;
  background-color: #434d56;
  padding: .5rem;
  font-size: 1.5rem;
  transition: all .2s;
}

.button:hover {
  background-color: #374049;
}

.button:active {
  background-color: #434d56;
}

/* Info styles */

.information {
  display: flex;
  padding: 0 0 2rem 1.5rem;
}

.info-headline {
  width: 58.5%;
  padding: 2rem 1.5rem 0 0;
  font-size: 1.25rem;
}

.info-headline h2 {
  padding: 2rem 0 1.5rem 0;
  font-size: 3rem;
}

.info-headline span {
  display: inline-block;
  padding-top: 3rem;
}

.info-content {
  padding-top: 1rem;
  max-width: 40%;
  border-left: 1px ridge gainsboro;
}

.info-container {
  display: flex;
  align-items: center;
  border-bottom: 1px ridge gainsboro;
}

.info-image {
  width: 35%;
  height: auto;
  padding: 1rem;
}

.mobile-info img {
  display: none;
}

.info-text {
  display: flex;
  flex-direction: column;
  width: 65%;
}

.info-text span {
  font-size: 1.25rem;
  margin-top: 1.25rem;
}

.read-more {
  color: blue;
  font-weight: normal;
  transition: all .2s ease-out;
  width: 115px;
}

.read-more:hover {
  color: mediumblue;
  font-weight: bold;
}

.read-more:active {
  font-weight: normal;
  color: blue;
}

/* Course styles */

.courses {
  padding: 2rem 4.5rem;
}

.courses h2 {
  font-size: 3rem;
  text-align: center;
  padding-bottom: 2rem;
}

.courses-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.course-container {
  margin: 2rem 1rem;
  width: 25%;
  flex-grow: 1;
  background-color: white;
  transition: all .75s ease-out;
}

.course-container:hover {
  background-color: #f2f2f2;
}

.course-text {
  font-size: 1.25rem;
  padding: 1rem 1rem 1.5rem 1rem;
}

.course-text span {
  display: inline-block;
  padding-top: 1rem;
  line-height: 1.5rem;
}

/* Thesis styles */

.thesis {
  padding: 2rem 0 2rem 1.5rem;
}

.thesis-group {
  display: flex;
}

.thesis-headline {
  width: 58.5%;
  padding: 0 1.5rem 0 0;
  font-size: 1.25rem;
}

.thesis h2 {
  font-size: 3rem;
  text-align: center;
  padding-bottom: 2rem;
}

.thesis h3 {
  padding: 1.5rem 0 1rem 0;
}

.thesis-content {
  max-width: 40%;
}

.thesis-container {
  display: flex;
  align-items: center;
}

.thesis-image {
  width: 35%;
  height: auto;
  padding: 1rem;
}

.thesis-text {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 1rem;
  width: 65%;
}

.thesis-container {
  transition: all 1s ease-out;
}

.thesis-container:first-child:hover {
  background-color: #f2f2f2;
}

.thesis-container:last-child:hover {
  background-color: #f2f2f2;
}

/* Footer styles */

.footer {
  display: flex;
  border: 1px solid blue;
  padding: 1rem 1.5rem;
}

.copyright {
  padding: 1rem 1.5rem;
  display: inline-block;
}

.legal {
  padding: 1rem 1.5rem;
  float: right;
  display: inline-block;
}

.legal span {
  padding: 0 .25rem;
}

@media only screen and (max-width: 1275px) {
  html {
    font-size: 14px;
  }

  .info-headline h2 {
    font-size: 2.5rem;
  }

  .thesis-text h3 {
    font-size: 1.875rem;
  }

  .thesis-text span {
    font-size: 1.125rem;
  }
}

@media only screen and (max-width: 980px) {
  html {
    font-size: 12px;
  }

  .thesis-text h3 {
    font-size: 1.75rem;
  }

  .thesis-text span {
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 850px) {
  .info-headline h2 {
    font-size: 2rem;
  }

  .info-text h3 {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 750px) {
  html {
    font-size: 16px;
  }

  /* Header styles */

  header {
    display: block;
  }

  .logo, .navigation {
    display: none;
  }

  .mobile {
    display: block;
    padding-top: .375rem;
  }

  .mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  /* Banner styles */

  .mobile img {
    width: 3rem;
    transition: box-shadow .2s ease-out;
  }

  .icon:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .icon:active {
    width: 2.75rem;
    margin: .125rem;
  }

  .banner {
    flex-direction: column;
    padding: 0;
  }

  .banner-image {
    width: 100%;
  }

  .banner-text {
    max-width: 100%;
    padding: 2rem 1rem;
    text-align: center;
  }

  .banner-text h1, h3, span {
    max-width: 100%;
  }

  .banner-text h1, .banner-text h3 {
    margin: 1rem 0;
  }

  .banner-text h1 {
    font-size: 2.75rem;
  }

  .banner-text h3 {
    font-size: 1.75rem;
  }

  /* Info styles */

  .info-headline {
    display: none;
  }

  .info-image {
    display: none;
  }

  .mobile-info {
    width: 100%;
  }

  .mobile-info img {
    display: block;
    max-width: 95%;
  }

  .info-content {
    max-width: 100%;
    border: 0px;
  }

  .info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 0px;
  }

  #guest1 {
    background-color: white;
  }

  .info-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem 1rem;
  }

  .info-text h3 {
    font-size: 2.25rem;
  }

  .info-text span {
    font-size: 1.375rem;
    max-width: 95%;
  }

  /* Courses styles */

  .courses {
    background-color: white;
    padding: 0 1.5rem;
  }

  .courses-content {
    flex-direction: column;
  }

  .course-container {
    width: 100%;
    margin: 0 0 .5rem 0;
    background-color: gainsboro;
  }

  .course-image {
    display: none;
  }

  .course-text {
    padding: 0;
  }

  .courses h2 {
    font-size: 2.5rem;
  }

  .course-text h3 {
    padding: 1rem;
  }

  .course-text span {
    display: none;
  }

  /* thesis styles */

  .thesis {
    padding: 2rem 0;
  }

  .thesis h2 {
    font-size: 2.5rem;
  }

  .thesis-headline {
    width: 100%;
    padding: 0;
  }

  .thesis-headline h3, p {
    display: none;
  }

  .thesis-content {
    display: none;
  }

  /* footer styles */

  .legal {
    display: none;
  }
}
